div.card{
    width: 400px;
    height: 500px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.2);;
    border-radius:  10px;
    padding-top: 10px;
}

div.cardimg{
    width: 100%;
    height: 50%;
    position: relative;
}

div.cardtextname{
    height: 20%;
    padding: 10px;
    color: rgba(5, 184, 184, 0.966);
}
div.cardtextdesciption{
    height: 10%;
    padding: 5px;
    color: #000;
}